/* Signup page */
body {
  color: var(--login-text-color);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: unset;
}

.d-none {
  opacity: 0;
  display: none;
}

#logo {
  position: absolute;
  top: 24px;
  left: 5%;
  width: 50px;
}
#logo img {
  width: 100%;
}

.signup_container {
  width: 90%;
  max-width: 400px;
  margin: 100px auto;
  opacity: 1;
  transition: opacity 0.5s;
}
.signup_form {
  width: 100%;
}
.form_title {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 24px;
}
.signup_form :is(input, label) {
  display: block;
  width: 100%;
}
.form_group {
  margin: 16px 0;
}
label {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}
input:not(input[type="submit"]) {
  padding: 16px;
  border: 1px solid var(--text-color-2);
  border-radius: 5px;
}
input:not(input[type="submit"]):active,
input:not(input[type="submit"]):focus {
  border-color: var(--brand-primary);
}
.form_group.has-domain {
  margin-bottom: 0;
}
.form_group.has-domain > div {
  position: relative;
}

.domain {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-2);
}
.form_checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0;
}
.form_checkbox :is(input, label) {
  width: fit-content;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.form_checkbox a {
  color: var(--brand-secondary);
}
.redir-login {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}
.redir-login * {
  color: var(--text-color-2);
}

/* Get started step form */
.get-started {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}
.gs_slider {
  margin: 100px 0;
  width: 500%;
  display: flex;
  transition: transform 0.5s ease;
}
.gs_slide {
  position: relative;
}
.gs_slide--left {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 32px;
  background-color: unset;
  border: none;
  outline: none;
  cursor: pointer;
}
.gs_slide--left ion-icon {
  font-size: 24px;
  color: var(--text-color-2);
}
.gs_slider :is(h1, h2, h4) {
  text-align: center;
  margin: 0 auto 24px;
}
.gs_slider h4 {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-2);
  margin-bottom: 12px;
}
.gs_slide--title {
  font-size: 20px;
  font-weight: 700;
}
.gs_slider > div {
  padding-inline: 100px;
  flex-shrink: 0;
  width: 20%;
}
.gs_field {
  width: 100%;
  overflow: hidden;
  border: 1px solid #cacaca;
}
.gs_field > div:not(.gs_field--half),
.gs_field--half > div {
  padding: 16px;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
  border-bottom: 1px solid #cacaca;
}
.gs_field > div:last-of-type,
.gs_field--half > div:last-of-type {
  border: none;
}
.gs_field :is(label, input) {
  margin: 0;
  padding: 0;
}
.gs_field label {
  color: #2c3131;
  font-weight: 400;
}
.gs_field--split {
  display: flex;
}
.gs_field--half {
  flex-shrink: 0;
  width: 50%;
}
.gs_field--half:first-of-type {
  border-right: 1px solid #cacaca;
}
.gs_buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}

.gs_slide-0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.gs_slide-0 p {
  margin-bottom: 24px;
}

.gs_field--country {
  padding: 12px;
  border-radius: 5px;
}
#business-location {
  width: 100%;
  display: block;
  background-color: inherit;
  padding: 12px;
  border: 1px solid #cacaca;
}
#business-location option {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media screen and (min-width: 1480px) {
  .get-started {
    max-width: 1024px;
  }
}

@media screen and (max-width: 540px) {
  .get-started {
    width: 100%;
    max-width: 100%;
  }
  .gs_slider > div {
    padding-inline: 40px;
  }
  .gs_slide--left {
    left: 12px;
  }
  .gs_field--split {
    flex-direction: column;
  }
  .gs_field--half {
    width: 100%;
  }
}
